{% extends "base.html" %} {% block content %}
<div class="section">
    <div style="display: flex; justify-content: space-between; align-items: center;">
    <h2>{{ titolo_pagina }}</h2>
    <a href="{% url 'fatture:fattura_create' %}" class="button-primary">Crea Nuova Fattura</a>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>Numero</th>
        <th>Cliente</th>
        <th>Data Emissione</th>
        <th>Importo</th>
        <th>Stato</th>
      </tr>
    </thead>
    <tbody>
      {% for fattura in fatture %}
      <tr>
        <td>
          <a href="{% url 'fatture:dettaglio_fattura' fattura.pk %}"
            >{{ fattura.numero }}</a
          >
        </td>
        <td>{{ fattura.cliente.ragione_sociale }}</td>
        <td>{{ fattura.data_emissione|date:"d/m/Y" }}</td>
        <td>€ {{ fattura.importo_totale|floatformat:2 }}</td>
        <td>
          <span
            class="badge {% if fattura.stato == 'pagata' %}success{% elif fattura.stato == 'parzialmente_pagata' %}warning{% else %}danger{% endif %}"
            >{{ fattura.get_stato_display }}</span
          >
        </td>
      </tr>
      {% empty %}
      <tr>
        <td colspan="5">Nessuna fattura trovata.</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
