{% extends "base.html" %} {% block content %}
<div class="section">
  <h2>{{ titolo_pagina }}</h2>
  <table class="table">
    <thead>
      <tr>
        <th>Data</th>
        <th>Tipo</th>
        <th style="width: 40%">Descrizione</th>
        <th>Conto</th>
        <th style="text-align: right">Entrate</th>
        <th style="text-align: right">Uscite</th>
      </tr>
    </thead>
    <tbody>
      {% for movimento in movimenti %}
      <tr>
        <td>{{ movimento.data|date:"d/m/Y" }}</td>
        <td>
          {% if movimento.is_contabile %}
          <span class="badge warning">{{ movimento.tipo }}</span>
          {% else %}
          <span class="badge success">{{ movimento.tipo }}</span>
          {% endif %}
        </td>
        <td>{{ movimento.descrizione }}</td>
        <td>{{ movimento.conto }}</td>
        <td style="text-align: right; color: green">
          {% if movimento.importo_entrata %}+ €{{ movimento.importo_entrata|floatformat:2 }}{% endif %}
        </td>
        <td style="text-align: right; color: red">
          {% if movimento.importo_uscita %}- €{{ movimento.importo_uscita|floatformat:2 }}{% endif %}
        </td>
      </tr>
      {% empty %}
      <tr>
        <td colspan="6">Nessun movimento trovato.</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
